.DS_Store
.env
.env.*
.latte/
.turbo/
.pnpm-store/
.trunk/actions
.trunk/logs
.trunk/notifications
.trunk/out
.trunk/plugins
.trunk/tools
node_modules/
dist/
coverage/
.idea/
.vscode/
services/api/.data/
services/worker/.runtime/
